@{
    ViewData["Title"] = "About Us";
}

<div class="container2">
    <div class="img">
        <h2>Our Mission</h2>
        <p>"To provide superior quality products and services that customers recommend to family and friends,
            partners select KhumaloCrafts for their customers and our employees are proud of the product they deliver."</p>
    </div>
</div>
