@{
    ViewData["Title"] = "Contact Us";
}

<h2>Get In Touch</h2>
<p> Have a question or feedback?</p>

<div>Number: +1 3456789</div>
<div>Email: admin@kcrafts.org</div>
<div>address: 55 Prospect Street, 7th Fl, Cape Town, South Africa</div>